
* { margin: 0; padding: 0; box-sizing: border-box; }
        
        body, html { 
            width: 100%; 
            height: 100%; 
            background-image: url(fundoVHS.gif); /* Cor das regras */
            font-family: sans-serif;
        }

        #tela_inicial {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            background: url('regras.jpg') no-repeat center; /* Se tiver imagem */
            background-size: cover;
        }

        #container {
            display: none; /* COMEÇA ESCONDIDO */
            width: 100%;
            min-height: 100vh; /* melhor que height */
    
            text-align: center;
            padding-top: 100px;

            background-image: url("fundoVHS.gif");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

    #bt_inicio{

        background: none;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        margin-top: 670px ;

        font-family: Andale Mono, monospace;
        font-style: bold;
        font-size: 2rem;
        color: rgb(255, 244, 231);

    }


    #my_h1{

        color: #55ff00;
        font-family: 'Courier New', Courier, monospace;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 20px auto;
        font-size: 5rem;


    }

   
    #jeff{
        color: #55ff00;
        margin-right: 700px;
    }

    #tela_final{
        
        align-items: center;
        display: flex;
        justify-content: center;
    }

    #div_cartaz{

        align-items: center;
        justify-content: center;
        margin: 20px auto;
        background-image: url(Cartaz.jpg);
        background-size: cover;

    }
    